<ul id="messages"></ul>
<form action="" id="chatting" ng-show="user">
  <input autocomplete="off" id="m"><button id="buttonbut">Send</button>
</form>
<script>
   var socket=io();
    $('#chatting').submit(function(){
      socket.emit('chat message', {username: 'jeff', msg: $('#m').val()});
      $('#m').val('');
      return false;
    });
    socket.on('new_msg', function(msg){
      console.log('hi')
      $('#messages').append($('<li>').text(msg))
    })
    // socket.on('join', function(msg){
    //   $('#messages').append($('<li>').text(msg));
    // });

</script>
