<h2>Your bands</h2>
<div ng-repeat="yourband in view.mylistbands">
  <h4>{{yourband}}</h4>
</div>
<form name="friendForm" ng-submit="view.inquire()">
<input type="number" min="1" max="10" ng-model="view.inquirenum" required>
<input type="submit">
</form>
<h2>Users in your area:</h2>
<div ng-repeat="user in view.users">
  <div ng-show="user.count >= view.inquirenum">
    <h2 ng-click="view.grabchatusername(user.userid)">You matched with {{user.username}} who is {{user.distance}} miles away and likes these bands:</h2>
    <div ng-repeat="band in user.bandlist">
      <h4>{{band}}</h4>
    </div>
  </div>
</div>
