#headerInfo {
  // border-bottom-style: solid;
  // border-bottom-color: $onyx;
  // border-bottom-width: thick;
  text-transform: uppercase;
}
#topleft {
  margin-top: 10px;
}
.myband{
  &:hover{
    color: $beaublue;
  }
}
#border {
  border-top: 3px groove gray;
  clear: both;
}
li{
  font-size: 2em;
}
#leftie {
  float: left;
  width: 30%;
  font-size: 2em;
  margin-left: 2em;
  height: 100vh;
  border-right-style: solid;
  border-right-color: $onyx;
  border-right-width: thin;
}
#rightie {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#labelrightie {
  font-size: 2em;
}
.matchedusers{
  font-size: 2em;
}
.usersbands{
  font-size: 1.5em;
  &:hover {
    color: $beaublue;
  }
}
#rightieinput {
  width: 10%;
  font-size: 2.5em;
}
#title {
  margin-left: 20px;
  margin-top: 10px;
  font-size: 3.5em;
  text-align: center;
  color: #600000;
}
.headerbutton {
  font-size: 1.25em;
  width: 8em;
  height: 2.1em;
  &:hover {
    background: $beaublue;
  }
}
.leftieinput{
  font-size: 1em;
  text-align: center;
}
.leftiesubmit{
  width: 75%;
  font-size: 1.25em;
}
#leftieform {
  display: flex;
  align-items: flex-start;
  text-align: center;
  flex-direction: column;
}
.headername {
  font-size: 2em;
  text-align: center;
}
#titleDiv{
  display: inline-block;
}
#welcomeDiv{
  display: inline-block;
  float: right;
}
#loginbut{
  font-size: 3em;
  background-color: white;
  width: 10em;
  color: $seagreen;
}
#inputLogin{
  width: 50vw;
  height: 10vh;
  margin-top: 2vh;
  font-size: 1.25em;
  text-align: center;
}
#loginSubmit{
  width: 30vw;
  // padding: 10em;
  // font-size: 400em;
  text-align: center;
  margin-left: 10vw;
}
.loginwords{
  text-align: center;
  font-size: 1.5em;
}
#loginDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  font-size: 3em;
}
.flexloginsignin{
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
}
#chatting { background:#000; padding: 3px; position: fixed; bottom:0; width:100% }
#m { border:0; padding:10px; width:90%; margin-right: .5% }
#buttonbut { width: 9%; background: rgb(130,224,255); border:none; padding: 10px; }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:$lightmoss;
    background-image:linear-gradient($lightmoss);
    background-image:-webkit-linear-gradient($lightmoss);
    background-image:-ms-linear-gradient($lightmoss);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop($lightmoss)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}


.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
